
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>Index</title>
</head>
<body>
    <h1>Welcome to BookStore Application</h1>
    <p>This Is Home Page</p>
</body>
</html>