
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>

    <img src="~/images/logo.png" alt="logo" class="logo"/>

    <input type="button" value="click me" class="btn btn-danger"/>

    <h1 class="h1">Welcome to BookStore Application</h1>
    
    <p>This Is Home Page</p>
</body>

<script src="~/lib/jquery/jquery.js"></script>

</html>


<script>
    $(document).ready(function () {
        alert("Page loaded");
    });
</script>



